<style>
    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
</style>


<section class="h-fit border-[1px] shadow-xl mt-4 bg-white rounded-lg p-5">
    <div class="flex flex-col items-start lg:flex-row sm:items-center justify-between">
        <!-- Search Tickets -->
        <div class="flex flex-col sm:flex-row items-start sm:items-center gap-3 w-1/3 max-lg:w-full">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative my-2 w-full">
                <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="text" matInput (keyup)="applySearchFilter($event.target.value)"
                    class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Search Tickets">
            </div>
        </div>

        <div class="flex items-center gap-3">
            <!-- Button New Tickets -->
            <button mat-raised-button [routerLink]="['/dashboards/tickets/add-tickets']"
                class="flex w-fit text-nowrap items-center gap-2 p-2.5 rounded-full px-3 sm:px-5 bg-primary text-white">
                <mat-icon svgIcon="mat_outline:add" class="text-white"></mat-icon>
                <span class="max-sm:hidden font-semibold">New Ticket</span>
            </button>

            <!-- Button PDF -->
            <button mat-raised-button (click)="generateReport()"
                class="flex w-fit text-nowrap items-center gap-2 p-2.5 rounded-full px-3 sm:px-5 bg-red-500 text-white">
                <mat-icon svgIcon="mat_solid:picture_as_pdf" class="text-white"></mat-icon>
                <span class="max-sm:hidden font-semibold">Generate Report</span>
            </button>

            <!-- Button Filter Date-->
            <mat-form-field class="min-w-[300px] max-w-full self-end hidden sm:block">
                <mat-date-range-input [rangePicker]="picker" [formGroup]="range" class="w-full">
                    <input matStartDate formControlName="start" placeholder="Start date" class="w-full" />
                    <input matEndDate formControlName="end" placeholder="End date" class="w-full" />
                </mat-date-range-input>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker touchUi #picker></mat-date-range-picker>
            </mat-form-field>

            <!-- Button Filter -->
            <button [matMenuTriggerFor]="menu"
                class="flex items-center gap-2 p-2.5 rounded-full px-3 sm:px-5 border-[1px] text-white">
                <mat-icon svgIcon="filter_alt"></mat-icon>
                <span class="max-sm:hidden font-semibold text-black">Filter</span>
                <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="products"
                    [matMenuTriggerData]="{disableClose: true}">Products</button>
                <button mat-menu-item [matMenuTriggerFor]="categorys"
                    [matMenuTriggerData]="{disableClose: true}">Category</button>
                <button mat-menu-item [matMenuTriggerFor]="status"
                    [matMenuTriggerData]="{disableClose: true}">Status</button>
                <button mat-menu-item [matMenuTriggerFor]="priority"
                    [matMenuTriggerData]="{disableClose: true}">Priority</button>

                <!-- Products Category -->
                <mat-menu #products="matMenu" class="min-w-[300px]">
                    <div class="px-5 py-3 w-full">
                        <h1 class="font-semibold mb-2">Choose Products</h1>
                    </div>

                    <div class="px-5 flex flex-col gap-2 w-full">
                        <mat-checkbox class="h-full" *ngFor="let item of productsItems" [(ngModel)]="item.checked"
                            (click)="$event.stopPropagation();" (change)="applyProductsFilter()">
                            {{ item.name }}
                        </mat-checkbox>
                    </div>

                    <div class="px-5 py-3 w-full">
                        <button mat-flat-button color="primary" class="w-full text-white bg-blue-600">
                            Add Products
                        </button>
                    </div>
                </mat-menu>


                <!-- Menu Category -->
                <mat-menu #categorys="matMenu" class="min-w-[300px]">
                    <div class="px-5 py-3 w-full">
                        <h1 class="font-semibold mb-2">Choose Category</h1>
                    </div>

                    <div class="px-5 flex flex-col gap-2 w-full">
                        <mat-checkbox class="h-full w-full" *ngFor="let item of category" [(ngModel)]="item.checked"
                            (click)="$event.stopPropagation();"
                            (change)="applyCategoryFilter()">{{item.name}}</mat-checkbox>
                    </div>

                    <div class="px-5 py-3 w-full">
                        <button mat-raised-button
                            class="flex w-full text-nowrap items-center gap-2 p-2.5 rounded-full px-3 sm:px-5 bg-primary text-white">
                            <mat-icon svgIcon="mat_outline:add" class="text-white font-semibold"></mat-icon>
                            <span class="max-sm:hidden font-semibold">Add Category</span>
                        </button>
                        <button mat-raised-button color="primary" class="w-full font-semibold text-white bg-red-600 mt-2">
                            Delete Category Selected
                        </button>
                    </div>
                </mat-menu>

                <!-- Menu Status -->
                <mat-menu #status="matMenu">
                    <div class="px-5 py-3">
                        <h1 class="font-semibold mb-2">Choose status</h1>
                    </div>
                    <mat-checkbox class="h-full" *ngFor="let item of statusItems" [(ngModel)]="item.checked"
                        (click)="$event.stopPropagation();" (change)="applyStatusFilter()">
                        <div class="px-3 py-1 text-white whitespace-nowrap rounded-full" [ngClass]="{
                                                                            'bg-blue-500': item.name === 'New',
                                                                            'bg-yellow-500': item.name === 'On Progress',
                                                                            'bg-green-500': item.name === 'Resolved',
                                                                            }">
                            <h1 class="font-medium">{{item.name}}</h1>
                        </div>
                    </mat-checkbox>
                </mat-menu>

                <!-- Priority Category -->
                <mat-menu #priority="matMenu">
                    <div class="px-5 py-3">
                        <h1 class="font-semibold mb-2">Choose Priority</h1>
                    </div>
                    <mat-checkbox class="h-full" *ngFor="let item of priorityItems" [(ngModel)]="item.checked"
                        (click)="$event.stopPropagation();" (change)="applyPriorityFilter()">
                        <div class="flex items-center gap-3">
                            <mat-icon svgIcon="mat_outline:bookmark" class="-rotate-90"
                                [ngClass]="{
                                                                                                                                    'text-green-600': item.name === 'Low',
                                                                                                                                    'text-blue-600': item.name === 'Hedium',
                                                                                                                                    'text-yellow-600': item.name === 'High',
                                                                                                                                    'text-red-600': item.name === 'Critical',
                                                                                                                                }"></mat-icon>
                            <h1 class="font-medium uppercase">{{item.name}}</h1>
                        </div>
                    </mat-checkbox>
                </mat-menu>

            </mat-menu>
        </div>
        <!-- Button Filter Date-->
        <mat-form-field class="min-w-[300px] max-w-full pt-4 self-start sm:hidden block">
            <mat-date-range-input [rangePicker]="picker" [formGroup]="range" class="w-full">
                <input matStartDate formControlName="start" placeholder="Start date" class="w-full" />
                <input matEndDate formControlName="end" placeholder="End date" class="w-full" />
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
    </div>

    <!-- Skeleton Loader -->
    <div role="status" class="p-5 animate-pulse" *ngIf="isLoading">
        <div class="h-6 bg-gray-300 rounded-full dark:bg-gray-700 w-full mb-[22px]"></div>
        <div class="h-6 bg-gray-300 rounded-full dark:bg-gray-700 w-full mb-[22px]"></div>
        <div class="h-6 bg-gray-300 rounded-full dark:bg-gray-700 w-full mb-[22px]"></div>
        <div class="h-6 bg-gray-300 rounded-full dark:bg-gray-700 w-full mb-[22px]"></div>
        <div class="h-6 bg-gray-300 rounded-full dark:bg-gray-700 w-full mb-[22px]"></div>
        <div class="h-6 bg-gray-300 rounded-full dark:bg-gray-700 w-full mb-[22px]"></div>
        <div class="h-6 bg-gray-300 rounded-full dark:bg-gray-700 w-full"></div>
    </div>

    <div *ngIf="isNotDataFound && !isLoading">
        <div class="flex flex-col items-center">
            <img src="icons/not-found.jpg" alt="not-found.jpg" class="h-64 bg-cover bg-center object-scale-down">
            <h1 class="mt-2 font-semibold text-xl -tracking-tighter">Data Not Found</h1>
        </div>
    </div>

    <!-- Table -->
    <div class="w-full overflow-auto whitespace-nowrap mt-5">
        <mat-table #table [dataSource]="dataSource" matSort
            *ngIf="!isNotDataFound && !isLoading && dataSource.data.length != 0 " class="min-w-[2180px]">

            <div>
                <!-- Tracking ID Column -->
                <ng-container matColumnDef="tracking_id">
                    <mat-header-cell *matHeaderCellDef> Tracking ID
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"
                        class="text-lg text-blue-600 font-medium underline whitespace-nowrap">
                        <a [routerLink]="['/dashboards/tickets', element.tracking_id]">{{element.tracking_id}}</a>
                    </mat-cell>
                </ng-container>

                <!-- Create Date Column -->
                <ng-container matColumnDef="create_date">
                    <mat-header-cell *matHeaderCellDef> Created Date
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.hari_masuk}}
                    </mat-cell>
                </ng-container>

                <!-- Create Time Column -->
                <ng-container matColumnDef="create_time">
                    <mat-header-cell *matHeaderCellDef> Created Time
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="flex items-center gap-3">
                        <mat-icon svgIcon="mat_outline:access_time"></mat-icon>
                        {{element.created_time}}
                    </mat-cell>
                </ng-container>

                <!-- Category Column -->
                <ng-container matColumnDef="category">
                    <mat-header-cell *matHeaderCellDef> Category
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="flex items-center gap-3 font-medium">
                        {{element.category}}
                    </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>
                        Name
                    </mat-header-cell>
                    <div role="status" class="p-5 animate-pulse" *ngIf="isLoading">
                        <div class="h-6 bg-gray-300 rounded-full dark:bg-gray-700 w-full mb-[22px]">
                        </div>
                    </div>
                    <mat-cell *matCellDef="let element" class="py-3.5 flex items-center gap-3 w-fit">
                        <div class="w-full flex items-center gap-3">
                            <img [src]="element.user.avatar" alt="" class="w-7 h-7 object-cover rounded-full">
                            <p class="font-medium">{{element.user.name}}</p>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- PIC Column -->
                <ng-container matColumnDef="pic">
                    <mat-header-cell *matHeaderCellDef> PIC
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element?.pic == "" || element?.pic == null ? 'Not Found' :
                        element.pic}} </mat-cell>
                </ng-container>

                <!-- subject Column -->
                <ng-container matColumnDef="subject">
                    <mat-header-cell *matHeaderCellDef> Subject
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="font-bold text-lg"> {{element.subject}} </mat-cell>
                </ng-container>

                <!-- No Whatsapp Column -->
                <ng-container matColumnDef="no_whatsapp">
                    <mat-header-cell *matHeaderCellDef> Whatsapp Client
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <a [href]="'https://wa.me/' + element?.no_whatsapp"
                            target="_blank">
                            {{element?.no_whatsapp === "" || null ? 'Not Found' : element.no_whatsapp}}
                        </a></mat-cell>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="py-4 w-full">
                        <mat-form-field hideRequiredMarker class="w-full">
                            <mat-select [(value)]="element.status" placeholder="Select">
                                <mat-option *ngFor="let status of statusList" [value]="status"
                                    class="px-3 py-1 m-2 font-medium text-base rounded-full"
                                    (click)="changeStatus(element.tracking_id, status)">
                                    {{ status }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>


                <!-- Solved Time Column -->
                <ng-container matColumnDef="solved_time">
                    <mat-header-cell *matHeaderCellDef> Solved Time
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.solved_time === "" || element.solved_time === null ?
                        "On Progress" : element.solved_time}}</mat-cell>
                </ng-container>

                <!-- Last Replier Column -->
                <ng-container matColumnDef="last_replier">
                    <mat-header-cell *matHeaderCellDef>
                        Last Replier
                    </mat-header-cell>
                    <div role="status" class="p-5 animate-pulse" *ngIf="isLoading">
                        <div class="h-6 bg-gray-300 rounded-full dark:bg-gray-700 w-full mb-[22px]">
                        </div>
                    </div>
                    <mat-cell *matCellDef="let element" class="py-2 flex items-center gap-3 w-fit">
                        <div class="w-full flex items-center gap-3">
                            <img [src]="element.last_replier === null ? element.user.avatar : element.last_replier.avatar"
                                alt="" class="w-7 h-7 rounded-full">
                            <p class="font-medium">{{element.last_replier === null ? element.user.name :
                                element.last_replier.name}}</p>
                        </div>
                    </mat-cell>
                </ng-container>

                <!-- Priority Column -->
                <ng-container matColumnDef="priority">
                    <mat-header-cell *matHeaderCellDef> Priority
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="flex items-center gap-3">
                        <mat-icon svgIcon="mat_outline:bookmark" class="-rotate-90" [ngClass]="{
                            'text-green-600': element.priority === 'Low',
                            'text-blue-600': element.priority === 'Medium',
                            'text-yellow-600': element.priority === 'High',
                            'text-red-600': element.priority === 'Critical',
                        }"></mat-icon>
                        <h1 class="font-medium uppercase">{{element.priority}}</h1>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </div>
        </mat-table>
    </div>

    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>
</section>