<div class="h-full w-full flex flex-col">
    <div class="flex justify-between p-2">
        <div
            class="truncate text-lg font-medium leading-6 tracking-tight px-5 py-3 flex flex-col sm:flex-row items-start sm:items-center w-full justify-between">
            <h2 class="mb-2 text-xl font-semibold sm:mb-0">Edit Notes</h2>
        </div>
        <a (click)="dialogRef.close()">
            <mat-icon svgIcon="mat_solid:close" class="cursor-pointer"></mat-icon>
        </a>
    </div>

    <ion-loading [isOpen]="isLoading" message="Submitting Form..." spinner="circular"></ion-loading>

    <!-- UBAH CARD FORM -->
    <div class="bg-yellow-100 border-l-4 border-yellow-500 rounded-md shadow-md p-4 mx-6 mb-4">
        <form [formGroup]="notesForm" class="flex flex-col gap-6">

            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>Title</mat-label>
                <input formControlName="title" matInput [placeholder]="'Title'" />
            </mat-form-field>

            <mat-form-field class="w-full" floatLabel="always">
                <mat-label>Content</mat-label>
                <textarea matInput formControlName="content" rows="4" placeholder="Your Content"></textarea>
            </mat-form-field>

            <button class="bg-yellow-500 hover:bg-yellow-600 text-white p-2 rounded-md" type="submit"
                (click)="onSubmit()">
                Edit Notes
            </button>
        </form>
    </div>
</div>