<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
    <ion-loading [isOpen]="isLoading" message="Sumbitting Form..." spinner="circular"></ion-loading>

    <mat-drawer-container class="h-full flex-auto">
        <!-- Drawer -->
        <mat-drawer class="w-96 dark:bg-gray-900" [autoFocus]="false" [mode]="'over'" [position]="'end'" #matDrawer>

            @if(content === "tickets"){

            <div class="py-10 h-full">
                <!-- Add any extra content that might be supplied with the component -->
                <div class="extra-content">
                    <ng-content></ng-content>
                </div>

                <!-- Fixed demo sidebar -->
                <div class="mx-6 text-3xl font-bold tracking-tighter">
                    Export Tickets
                </div>

                <div class="flex flex-col justify-between mx-6 h-full pt-6">
                    <form class="grid grid-cols-1 gap-0" [formGroup]="ticketForm">
                        <!-- Periode Input (Date & Time Picker) -->
                        <mat-form-field class="w-full">
                            <mat-label class="text-sm opacity-50 font-medium">Start Date - End Date </mat-label>
                            <mat-date-range-input [rangePicker]="picker" [formGroup]="range" class="w-full">
                                <input matStartDate formControlName="start" placeholder="Start date" class="w-full" />
                                <input matEndDate formControlName="end" placeholder="End date" class="w-full" />
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker touchUi #picker></mat-date-range-picker>
                        </mat-form-field>

                        <!-- Entry Input -->
                        <mat-form-field class="w-full">
                            <mat-label class="text-sm opacity-50 font-medium">Entry Time</mat-label>
                            <input matTimepicker formControlName="entry_time" placeholder="Select Time">
                        </mat-form-field>

                        <!-- Entry Input -->
                        <mat-form-field class="w-full">
                            <mat-label class="text-sm opacity-50 font-medium">End Time</mat-label>
                            <input matTimepicker formControlName="end_time" placeholder="Select Time">
                        </mat-form-field>

                        <!-- Products Input -->
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label class="text-sm opacity-50 font-medium">Select Products</mat-label>
                            <mat-select formControlName="products_name" placeholder="Select Products">
                                <mat-option *ngFor="let item of products" [value]="item"
                                    class="px-3 py-1 m-2 font-medium text-base rounded-full">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="ticketForm.get('products_name')?.hasError('required')">
                                Product is required
                            </mat-error>
                        </mat-form-field>


                        <!-- Email Input -->
                        <div class="w-full">
                            <mat-label class="text-sm opacity-50 font-medium">Email</mat-label>
                            <ng-multiselect-dropdown class="h-[10vh]" [placeholder]="'Select Email'"
                                [settings]="dropdownSettings" [data]="dropdownList" formControlName="email">
                            </ng-multiselect-dropdown>
                            <mat-error class="mt-2" *ngIf="ticketForm.get('email')?.hasError('required')">
                                *Email is required
                            </mat-error>
                        </div>
                    </form>

                    <button (click)="onSubmitTickets()" type="submit"
                        class="bg-blue-500 p-2.5 w-full text-white font-semibold mb-5" mat-button>
                        Export
                    </button>
                </div>
            </div>

            } @else if (content === "user") {


            <div class="py-10 h-full">
                <!-- Add any extra content that might be supplied with the component -->
                <div class="extra-content">
                    <ng-content></ng-content>
                </div>

                <!-- Fixed demo sidebar -->
                <div class="mx-6 text-3xl font-bold tracking-tighter">
                    Export Users
                </div>

                <div class="flex flex-col justify-between mx-6 h-full pt-6">
                    <form class="grid grid-cols-1 gap-0" [formGroup]="ticketForm">
                        <!-- Periode Input (Date & Time Picker) -->
                        <mat-form-field class="w-full">
                            <mat-label class="text-sm opacity-50 font-medium">Start Date - End Date </mat-label>
                            <mat-date-range-input [rangePicker]="picker" [formGroup]="range" class="w-full">
                                <input matStartDate formControlName="start" placeholder="Start date" class="w-full" />
                                <input matEndDate formControlName="end" placeholder="End date" class="w-full" />
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker touchUi #picker></mat-date-range-picker>
                        </mat-form-field>

                        <!-- Entry Input -->
                        <mat-form-field class="w-full">
                            <mat-label class="text-sm opacity-50 font-medium">Entry Time</mat-label>
                            <input matTimepicker formControlName="entry_time" placeholder="Select Time">
                        </mat-form-field>

                        <!-- Entry Input -->
                        <mat-form-field class="w-full">
                            <mat-label class="text-sm opacity-50 font-medium">End Time</mat-label>
                            <input matTimepicker formControlName="end_time" placeholder="Select Time">
                        </mat-form-field>

                        <!-- Products Input -->
                        <mat-form-field class="w-full" floatLabel="always">
                            <mat-label class="text-sm opacity-50 font-medium">Select Products</mat-label>
                            <mat-select formControlName="products_name" placeholder="Select Products">
                                <mat-option *ngFor="let item of products" [value]="item"
                                    class="px-3 py-1 m-2 font-medium text-base rounded-full">
                                    {{ item }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="ticketForm.get('products_name')?.hasError('required')">
                                Product is required
                            </mat-error>
                        </mat-form-field>


                        <!-- Email Input -->
                        <div class="w-full">
                            <mat-label class="text-sm opacity-50 font-medium">Email</mat-label>
                            <ng-multiselect-dropdown class="h-[10vh]" [placeholder]="'Select Email'"
                                [settings]="dropdownSettings" [data]="dropdownList" formControlName="email">
                            </ng-multiselect-dropdown>
                            <mat-error class="mt-2" *ngIf="ticketForm.get('email')?.hasError('required')">
                                *Email is required
                            </mat-error>
                        </div>
                    </form>

                    <button (click)="onSubmitUsers()" type="submit"
                        class="bg-blue-500 p-2.5 w-full text-white font-semibold mb-5" mat-button>
                        Export
                    </button>
                </div>
            </div>

            }
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col">
            <!-- Header -->
            <div
                class="bg-white flex flex-0 flex-col p-6 pb-22 dark:bg-transparent sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:pb-28 sm:pt-12">
                <div class="min-w-0 flex-1">
                    <!-- Breadcrumbs -->
                    <div>
                        <div class="hidden flex-wrap items-center font-medium sm:flex">
                            <div>
                                <a class="whitespace-nowrap text-primary-500">Reports</a>
                            </div>
                            <div class="ml-1 flex items-center whitespace-nowrap">
                                <mat-icon class="text-secondary icon-size-5"
                                    [svgIcon]="'heroicons_mini:chevron-right'"></mat-icon>
                                <span class="text-secondary ml-1">Export</span>
                            </div>
                        </div>
                        <div class="flex sm:hidden">
                            <a class="text-secondary -ml-1.5 inline-flex items-center font-medium"
                                [routerLink]="'./..'">
                                <mat-icon class="text-secondary icon-size-5"
                                    [svgIcon]="'heroicons_solid:chevron-left'"></mat-icon>
                                <span class="ml-1">Back</span>
                            </a>
                        </div>
                    </div>
                    <!-- Title -->
                    <div class="mt-2">
                        <h2 class="truncate text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:text-4xl">
                            Export
                        </h2>
                    </div>
                </div>
            </div>

            <!-- Main -->
            <div class="bg-default -mt-16 flex-auto overflow-y-auto rounded-t-2xl p-6 shadow sm:p-10" cdkScrollable>
                <!-- CONTENT GOES HERE -->
                <div class="h-fit max-h-400 rounded-2xl">

                    <div class=" grid grid-cols-1 lg:grid-cols-3  gap-5 h-fit">

                        <!-- Card Tickets -->
                        <div
                            class="bg-white shadow-lg border-[0.5px] border-opacity-20 h-full border-black rounded-lg p-5 flex flex-col justify-between">
                            <div>
                                <h1 class="text-2xl font-bold opacity-80 text-blue-700">Tickets</h1>
                                <p class="text-lg opacity-70 mt-2">Exporting all tickets, including time, based on
                                    selected
                                    period
                                    and
                                    products</p>
                            </div>

                            <div class="mt-4 flex items-center justify-start gap-4">
                                <button mat-flat-button (click)="tooggleDrawer('tickets')"
                                    class="p-2 border-[0.4px] bg-primary border-opacity-20 border-black px-5 rounded-md text-white text-lg font-semibold">
                                    Export
                                </button>

                                <!-- <a [routerLink]="['user']" class="underline text-primary">View Export History</a> -->
                            </div>
                        </div>

                        <!-- Card User -->
                        <div
                            class="bg-white shadow-lg border-[0.5px] border-opacity-20 h-full border-black rounded-lg p-5 flex flex-col justify-between">
                            <div>
                                <h1 class="text-2xl font-bold opacity-80 text-blue-700">User</h1>
                                <p class="text-lg opacity-70 mt-2">Exporting the list of created ticket by user</p>
                            </div>

                            <div class="mt-4 flex items-center justify-start gap-4">
                                <button mat-flat-button (click)="tooggleDrawer('user')"
                                    class="p-2 border-[0.4px] bg-primary border-opacity-20 border-black px-5 rounded-md text-white text-lg font-semibold">
                                    Export
                                </button>

                                <!-- <a [routerLink]="['ticket']" class="underline text-primary">View Export History</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>