<!--The content below is only a placeholder and can be replaced.-->
<div id="chart" class="bg-white border-[0.7px] shadow-md p-2 rounded-xl h-full">
    <div class="text-xl font-semibold px-4 border-b-[1px] border-solid py-4">
        <h1>{{header}}</h1>
    </div>
    <apx-chart [colors]="chartOptions.colors" [series]="chartOptions.series" [fill]="chartOptions.fill" [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke" [tooltip]="chartOptions.tooltip"
        [dataLabels]="chartOptions.dataLabels"></apx-chart>
</div>