<section
    class="w-full h-full flex justify-center items-center bg-[url('/assets/images/cards/moon.jpg')] bg-center bg-cover max-sm:px-22">
    <div class="max-w-md mx-auto text-center bg-white px-4 sm:px-8 py-10 rounded-xl shadow-xl">
        <header class="mb-8">
            <h1 class="text-2xl font-bold mb-1">Email Verification</h1>
            <p class="text-[15px] text-slate-500">Enter the 6-digit verification code that was sent to
                <span class="text-blue-500 font-semibold">{{email}}</span>
            </p>
        </header>
        <form id="otp-form" (ngSubmit)="onSubmit()">
            <div class="flex items-center justify-center gap-3">
                <app-otp-input #input="ngModel" [(ngModel)]="data" [ngModelOptions]="{standalone: true}" />

            </div>
            <div class="max-w-[320px] mx-auto mt-4">
                <button type="submit"
                    class="w-full inline-flex justify-center whitespace-nowrap rounded-lg bg-indigo-500 px-3.5 py-2.5 text-sm font-medium text-white shadow-sm shadow-indigo-950/10 hover:bg-indigo-600 focus:outline-none focus:ring focus:ring-indigo-300 focus-visible:outline-none focus-visible:ring focus-visible:ring-indigo-300 transition-colors duration-150 ">
                    Verify Account
                </button>
            </div>
        </form>
        <div class="text-sm text-slate-500 mt-4">Didn't receive code?
            @if (countdown > 0) {
            <span class="font-medium text-indigo-500 hover:text-indigo-600">{{countdown}}s</span>
            } @else {
            <a class="font-medium text-indigo-500 hover:text-indigo-600 hover:cursor-pointer"
                (click)="resendOtp()">Resend
                Code</a>
            }
        </div>
    </div>
</section>