<main class="p-4 h-full w-full sm:px-5">

    <div class="px-1 pt-3 flex justify-between items-start sm:items-center flex-col sm:flex-row gap-5 sm:gap-0">
        <div>
            <h1 class="font-bold text-lg sm:text-3xl">Tickets</h1>
            <p class="text-sm sm:text-base">Keep track of ongoing tickets and follow up efficiently.</p>
        </div>

        <div class="text-sm text-gray-600">
            <span class="font-medium text-gray-500 hover:cursor-pointer hover:text-blue-400"
                [routerLink]="['/dashboards/home']">Home</span>
            <span class="mx-2 text-gray-400">/</span>
            <span class="font-semibold text-blue-600 hover:text-blue-500">Tickets</span>
        </div>
    </div>

    <div class="h-fit w-full">
        <app-ticket></app-ticket>
        <app-ticket-logs></app-ticket-logs>
        <app-temp-tickets></app-temp-tickets>
    </div>
</main>