::ng-deep .multiselect-dropdown .dropdown-btn {
    padding: 14px 12px !important;
    opacity: 0.8 !important;
    background-color: white;
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 5px;
}

::ng-deep .multiselect-dropdown .dropdown-btn .selected-item {
    max-width: fit-content !important;
    background-color: #86c127 !important;
    border-color: #86c127 !important;
}

:host ::ng-deep .multiselect-item-checkbox input[type=checkbox]+div::before {
    border-color: #86c127 !important;
    color: #86c127 !important;
}

:host ::ng-deep .multiselect-item-checkbox input[type=checkbox]:checked+div::before {
    background-color: #86c127 !important;
}