<main class="h-full w-full flex items-center justify-center p-10">
    <div class="bg-white rounded-md h-fit sm:w-1/2 relative flex flex-col">
        <img src="images/cards/01-320x200.jpg" alt="" class="h-[200px] object-center object-cover rounded-t-md">
        <img class="h-20 w-20 md:h-28 md:w-28 rounded-full absolute bg-white shadow-xl left-5 sm:left-10 top-40 sm:top-36 cursor-pointer object-cover object-center"
            [src]="selectedImage || user?.avatar" (click)="triggerFileInput()" />

        <div class="sm:px-10 sm:py-5 px-10 pt-13 pb-4 md:pl-44">
            <form action="" [formGroup]="editUserForm">
                <!-- Input file hidden -->
                <input type="file" #fileInput (change)="onFileSelected($event)" accept="image/*"
                    formControlName="avatar" hidden>
                <div class="flex flex-col gap-2">
                    <h1 class="font-semibold">Name :</h1>
                    <input type="text" formControlName="name" class="border-[2px] border-opacity- p-2 rounded w-full"
                        placeholder="Your Name" [value]="user.name">
                </div>
                <br>
                <div class="flex flex-col gap-2">
                    <h1 class="font-semibold">Email :</h1>
                    <input type="email" formControlName="email" class="border-[2px] border-opacity- p-2 rounded w-full"
                        placeholder="Your Name" [value]="user.email">
                </div>
            </form>

            <!-- If Not Mode Edit -->
            <div class="justify-end mt-4 w-full flex" *ngIf="disabled && !isLoading">
                <button (click)="toggleEdit()"
                    class="p-2.5 px-14 font-semibold rounded-full bg-gray-300 hover:bg-gray-400 transition-colors"
                    mat-flat-button>Edit</button>
            </div>

            <!-- If Mode Edit -->
            <div class="justify-end mt-4 w-full flex items-center gap-2" *ngIf="!disabled && !isLoading">
                <button (click)="toggleEdit()"
                    class="p-2.5 max-sm:px-8 px-14 font-semibold rounded-full bg-gray-300 hover:bg-gray-400 transition-colors"
                    mat-flat-button>Cancel</button>
                <button (click)="onSubmit()"
                    class="p-2.5 max-sm:px-8 px-14 text-white font-semibold rounded-full bg-blue-500 hover:bg-blue-600 transition-colors"
                    mat-flat-button>Save</button>
            </div>

            <!-- If Loading -->
            <div class="justify-end mt-4 w-full flex items-center gap-2" *ngIf="isLoading">
                <button class="p-2.5 px-14 font-semibold rounded-full bg-gray-300 hover:bg-gray-400 transition-colors"
                    mat-flat-button disabled>Loading...</button>
            </div>
        </div>
    </div>
</main>