<!-- role-management.component.html -->
<ng-template #userFormTemplate>
    <h2 class="text-xl font-bold">User Form</h2>
    <h3 class="font-medium opacity-70">Tambah Link yang Ingin Diblokir</h3>

    <form action="" class="py-4 w-full" [formGroup]="linkForm">
        <input type="Link" formControlName="domain" placeholder="Link Yang Ingin Diblokir"
            class="py-2 px-2 border-2 rounded w-full">

        <div *ngIf="linkForm.get('domain')?.invalid && (linkForm.get('domain')?.touched || linkForm.get('domain')?.dirty)"
            class="text-red-600">
            <small *ngIf="linkForm.get('domain')?.errors?.required">Domain wajib diisi.</small>
            <small *ngIf="linkForm.get('domain')?.errors?.invalidDomain">Domain tidak valid. Pastikan formatnya benar
                (contoh: example.com).</small>
        </div>
    </form>

    <button class="bg-green-600 text-white" (click)="onSubmit()" mat-button>Tambah Link</button>
</ng-template>

<div class="w-full h-fit overflow-y-auto">
    <!-- Header -->
    <div class="dark relative flex-0 overflow-hidden bg-[#0576D9] px-4 py-2 h-64 sm:p-16">
        <!-- Background -->
        <!-- Rings -->
        <!-- prettier-ignore -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
    </div>

    <div class=" w-5/6 h-full relative m-auto -translate-y-15">
        <div class=" w-full h-full">
            <fuse-card class="flex flex-col px-8 py-10 shadow-lg text-center" #fuseCard>
                <div class="text-xl font-bold">Blocking Link</div>
                <div class="mt-2">
                    <p class=" font-medium">List Link yang diblock </p>
                </div>
            </fuse-card>

            <button id="open-modal" (click)="openUserForm()" expand="block" mat-flat-button
                class="bg-green-500 my-5 w-full text-white">
                <mat-icon svgIcon="mat_solid:add_circle"></mat-icon>
                Tambah Link
            </button>

            <section class=" mb-5">
                <div class="bg-card flex flex-col overflow-hidden rounded-2xl h-fit w-full p-4 shadow sm:col-span-6">
                    <div
                        class="truncate flex-col text-lg font-bold leading-6 tracking-tight px-4 flex items-start w-full justify-between">
                        Link yang diblokir
                        <span class="text-base font-medium opacity-60">
                            Di bawah merupakan link yang diblokir
                        </span>
                    </div>

                    <!-- Card Content -->
                    <div class="max-h-[400px] overflow-y-auto">
                        <div class="relative overflow-x-auto sm:rounded-lg">
                            <table
                                class="w-full h-fit text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                                <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                                    <tr>
                                        <!-- <th scope="col" class="p-4">
                                          <div class="flex items-center">
                                              <input id="checkbox-all-search" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                              <label for="checkbox-all-search" class="sr-only">checkbox</label>
                                          </div>
                                      </th> -->
                                        <th scope="col" class="px-2 sm:px-6 py-3 text-xs sm:text-sm">
                                            IP
                                        </th>
                                        <!-- <th scope="col" class="px-2 sm:px-6 py-3 text-xs sm:text-sm">
                                            Profile
                                        </th> -->
                                        <th scope="col" class="px-2 sm:px-6 py-3 text-xs sm:text-sm">
                                            Domain
                                        </th>
                                        <th scope="col" class="px-2 sm:px-6 py-3 text-xs sm:text-sm">
                                            Keterangan
                                        </th>
                                        <th scope="col" class="px-2 sm:px-6 py-3 text-xs sm:text-sm">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-b-2" *ngFor="let link of listLink">
                                        <!-- <td class="w-4 p-4">
                                          <div class="flex items-center">
                                              <input id="checkbox-table-search-3" type="checkbox" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
                                              <label for="checkbox-table-search-3" class="sr-only">checkbox</label>
                                          </div>
                                      </td> -->
                                        <th scope="row"
                                            class="flex items-center px-2 sm:px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            <div class="max-sm:pr-4">
                                                <div class="text-base font-semibold">{{link.ip}}</div>
                                                <div class="font-normal text-gray-500">{{link.ip}}</div>
                                            </div>
                                        </th>
                                        <th scope="col" class="px-2 sm:px-6 py-3 text-xs sm:text-sm">
                                            {{link.domain}}
                                        </th>
                                        <th scope="col" class="px-2 sm:px-6 py-3 text-xs sm:text-sm">
                                            {{link.comment}}
                                        </th>
                                        <td class="px-2 sm:px-6 translate-y-[10px] flex items-center ">
                                            <a (click)="deleteUser(user.name)"
                                                class="font-medium mx-1 text-white dark:text-white bg-red-500 hover:cursor-pointer hover:bg-red-600 rounded hover:underline">
                                                <mat-icon svgIcon="heroicons_solid:trash" class="text-white"
                                                    style="transform: scale(0.7);"></mat-icon>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div>
</div>